<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2019 Serge Rider (serge@jkiss.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension
        point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
              class="org.jkiss.dbeaver.ext.kafka.KafkaDataSourceProvider"
              description="WMI connector"
              icon="icons/kafka_big.jpg"
              id="kafka"
              label="Kafka">
            <!--<tree-->
                  <!--icon="icons/kafka_big.jpg"-->
                  <!--label="Kaffka data source"-->
                  <!--path="kafka">-->
                    <!--<items label="Namespaces" itemLabel="Namespace" path="namespace" property="namespaces" icon="icons/namespace.png" id="Namespace">-->
                        <!--<items ref="Namespace"/>-->
                        <!--<folder type="org.jkiss.dbeaver.ext.wmi.model.WMIClass" label="Classes" icon="icons/classes.png" description="Classes">-->
                            <!--<items label="Classes" itemLabel="Class" path="class" property="classes" icon="icons/class.png" id="Class">-->
                                <!--<folder type="org.jkiss.dbeaver.ext.wmi.model.WMIClassAttribute" label="Properties" icon="#columns" description="Class properties" navigable="false" id="ClassAttributes">-->
                                    <!--<items label="Properties" itemLabel="Property" path="attribute" property="allAttributes"/>-->
                                <!--</folder>-->
                                <!--<folder type="org.jkiss.dbeaver.ext.wmi.model.WMIClassMethod" label="Methods" icon="#procedures" description="Class methods" navigable="false" id="ClassMethods">-->
                                    <!--<items label="Methods" itemLabel="Method" path="method" property="methods"/>-->
                                <!--</folder>-->
                            <!--</items>-->
                        <!--</folder>-->
                        <!--<folder type="org.jkiss.dbeaver.ext.wmi.model.WMIClass" label="Associations" icon="icons/associations.png" description="Class Associations">-->
                            <!--<items label="Associations" itemLabel="Association" path="association" property="associations" icon="icons/association.png" id="Association">-->
                                <!--<items ref="ClassAttributes"/>-->
                            <!--</items>-->
                        <!--</folder>-->
                    <!--</items>-->
                    <!--&lt;!&ndash;items ref="Class"/&ndash;&gt;-->
                <!--&lt;!&ndash;/folder&ndash;&gt;-->
            <!--</tree>-->
            <drivers managable="false">
                <driver
                    id="kafka"
                    label="KAFKA"
                    icon="icons/kafka_big.jpg"
                    iconBig="icons/kafka_big.jpg"
                    description="Kafka Native driver"
                    class="org.jkiss.dbeaver.ext.kafka.KafkaDriver"
                    customDriverLoader="true"
                    categories="brokers">
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.kafka.dataSourceWizardView"
                dataSource="kafka"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.datasource.header"
                class="org.jkiss.dbeaver.ext.kafka.views.KafkaConnectionPage"
                icon="icons/kafka_big.jpg">
        </view>
        <!--<view-->
                <!--id="org.jkiss.dbeaver.ext.wmi.dataSourceEditorView"-->
                <!--dataSource="wmi"-->
                <!--targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"-->
                <!--label="%dialog.connection.datasource.header"-->
                <!--class="org.jkiss.dbeaver.ext.wmi.views.KafkaConnectionPage"-->
                <!--icon="icons/wmi_icon.png">-->
        <!--</view>-->
    </extension>

    <!--<extension point="org.jkiss.dbeaver.objectManager">-->
        <!--<manager class="org.jkiss.dbeaver.ext.wmi.edit.WMINamespaceManager" objectType="org.jkiss.dbeaver.ext.wmi.model.WMINamespace" label="Namespace manager"/>-->
    <!--</extension>-->

    <!--<extension point="org.jkiss.dbeaver.dataTypeProvider">-->
        <!--<provider-->
            <!--class="org.jkiss.dbeaver.ext.wmi.model.WMIValueHandlerProvider"-->
            <!--id="org.jkiss.dbeaver.ext.wmi.model.WMIValueHandlerProvider"-->
            <!--label="WMI data types provider">-->

            <!--<datasource id="wmi"/>-->
            <!--<type name="*"/>-->

        <!--</provider>-->
    <!--</extension>-->

</plugin>
